<form [formGroup]="contactForm" (ngSubmit)="onSubmit();">
    <div class="mb-3">
      <input type="text" id="name" formControlName="name" [(ngModel)]="name" placeholder="Nombre">          
      <input type="hidden" id="id" formControlName="id" [(ngModel)]="randomId">          
    </div>
    <div class="mb-3">
      <input type="text" id="lastName" formControlName="lastName" [(ngModel)]="lastName" placeholder="Apellido">          
    </div>
    <div class="mb-3" formGroupName="phones">
      <div *ngFor="let phone of _phones.controls; let i=index">
        <div [formGroupName]="i">
          <input type="text" id="phoneNumber" formControlName="phoneNumber" placeholder="Teléfono">
          <button class="btn btn-danger m-2" (click)="onRemovePhone(i)"><i class="fa fa-trash"></i></button>
          <button class="btn btn-success m-2" type="button" (click)="onAddPhone(i);"><i class="fa fa-plus"></i></button>
        </div>
      </div>
    </div>        
    <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Guardar</button>
  </form>